.container {
  border: 5px solid rgba(0, 0, 0, 0.132);
  background-color: brown;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 200px;
}


.category {
  border: 5px solid rgb(0, 0, 0, 0.132);
  background-color: brown;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

body {
  background-color: beige;
}

script {
  border: 5px solid rebeccapurple;
  background-color: lightgray;
  padding: 40px;
  margin: 40px;
  width: 300px;
  height: 150px;
}
